.board {
  position: relative;
  margin: 30px auto;
  background-image: url(/ar_tal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.snake {
  position: absolute;
  background-color: purple;
  border-radius: 5px;
}
.button-axis {
  text-align: center;
}
.options {
  text-align: center;
}
.food {
  position: absolute;
  background-image: url(/apple.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
